body {
    background: black;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

li {
    width: 180px;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

li img {
    width: 380px;
    height: auto;
}